-i https://pypi.org/simple
console-menu==0.5.1
decorator==4.3.0
exifread==2.1.2
gpsphoto==2.2.2
pbr==5.1.1
piexif==1.1.2
pillow==5.4.1
prompt-toolkit==1.0.14
pygments==2.3.1
pyinquirer==1.0.3
pytz==2018.9
pyxdg==0.26
regex==2018.11.22
six==1.12.0
sqlalchemy-migrate==0.11.0
sqlalchemy==1.2.16
sqlparse==0.2.4
tabulate==0.8.2
tempita==0.5.2
wcwidth==0.1.7
